<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.swinglife.mapper.AccountMapper">

  <cache />

  <select id="getAccountByUsername" resultType="Account">
    select
          account.userid as username,
          account.email,
          account.firstname,
          account.lastname,
          account.status,
          account.addr1 as address1,
          account.addr2 as address2,
          account.city,
          account.state,
          account.zip,
          account.country,
          account.phone
    from account
    where account.userid = #{username}
  </select>


  <update id="updateAccount" parameterType="Account">
    UPDATE ACCOUNT SET
      EMAIL = #{email},
      FIRSTNAME = #{firstName},
      LASTNAME = #{lastName},
      STATUS = #{status},
      ADDR1 = #{address1},
      ADDR2 = #{address2,jdbcType=VARCHAR},
      CITY = #{city},
      STATE = #{state},
      ZIP = #{zip},
      COUNTRY = #{country},
      PHONE = #{phone}
    WHERE USERID = #{username}
  </update>

  <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (EMAIL, FIRSTNAME, LASTNAME, STATUS, ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, USERID)
    VALUES
      (#{email}, #{firstName}, #{lastName}, #{status}, #{address1},  #{address2,jdbcType=VARCHAR}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{username})
  </insert>

  <update id="updateProfile" parameterType="Account">
    <bind name="listOptionValue" value="_parameter.isListOption() ? 1 : 0" />
    <bind name="bannerOptionValue" value="_parameter.isBannerOption() ? 1 : 0" />

    UPDATE PROFILE SET
    LANGPREF = #{languagePreference},
    FAVCATEGORY = #{favouriteCategoryId},
    MYLISTOPT = #{listOptionValue},
    BANNEROPT = #{bannerOptionValue}
    WHERE USERID = #{username}
  </update>

  <insert id="insertProfile" parameterType="Account">
    <bind name="listOptionValue" value="_parameter.isListOption() ? 1 : 0" />
    <bind name="bannerOptionValue" value="_parameter.isBannerOption() ? 1 : 0" />

    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, MYLISTOPT, BANNEROPT, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{listOptionValue}, #{bannerOptionValue}, #{username})
  </insert>

  <update id="updateSignon" parameterType="Account">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERNAME = #{username}
  </update>

  <insert id="insertSignon" parameterType="Account">
    INSERT INTO SIGNON (PASSWORD,USERNAME)
    VALUES (#{password}, #{username})
  </insert>

</mapper>